[Desktop Entry]
Type=Application
Version=1.0
Name=Mediator
Exec=mediator
Comment=Save the world!
Icon=mediator
Terminal=false
Categories=Game;ArcadeGame;
